<div>
   <table>
      <tr *ngFor="let rowElement of mapOfGrill" >
         <td *ngFor="let columnElement of rowElement" class="noMarginAndPadding">
            <div *ngIf="columnElement" class="grillElement type_{{columnElement.title ? columnElement.title : ''}} isRight_{{columnElement.right}} isRight_{{columnElement.right}} isBottom_{{columnElement.bottom}} isTop_{{columnElement.top}} isLeft_{{columnElement.left}}"></div>
         </td>
      </tr>
   </table>
</div>
<div class="unusedstuff" [hidden]="!(unplaceableGrillItems.length > 0)">
  <span>Unused meat</span>
  <ul>
     <li *ngFor="let item of unplaceableGrillItems">
        {{item.title}}
     </li>
  </ul>
<div>
<router-outlet></router-outlet>
