//General style
.noMarginAndPadding {
  padding:0; margin:0;
}

.grillElement {
  width: 75px;;
  height: 20px;
}

.unusedstuff {
  margin-top: 10px;
}


//Border style
.grillElement.isBottom_true{
  border-bottom: solid 5px black;
}

.grillElement.isTop_true{
  border-top: solid 5px black;
}

.grillElement.isRight_true{
  border-right: solid 5px black;
}

.grillElement.isLeft_true{
  border-left: solid 5px black;
}


//Type styles
.grillElement.type_Steak {
  background: red;
}

.grillElement.type_Sausage {
  background: #CCFFE5;
}

.grillElement.type_Tomato {
  background: #7A2525;
}

.grillElement.type_Veal {
  background: #CCCCFF;
}
